@font-face {
    font-family: "Gulfs Display";
    src: url(/Font_family/GulfsDisplay-Normal.ttf);
}
@font-face{
    font-family: "Anybody";
    src: url(/Font_family/Anybody/Anybody-Italic-VariableFont_wdth\,wght.ttf);
}
img picture svg{
    width: 100%;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
}

.nav {
    width: 50%;
    position: absolute;
    right: 1%;
    display: flex;
    justify-content: flex-end;
    border: solid black;
}

.nav .nav-links {
    font-family: "Gulfs Display", sans-serif;
}

.nav .nav-links a {
    color: black;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    gap: 195px;
    list-style-type: none;
}

.nav-links img {
    width: 12.5px;
}

.head {
    border: solid black;
    height: 900px;
    background: linear-gradient(to bottom,
            #feb4cd 70%, #fff35f 70%);
}

.title {
    gap: 27px;
    height: 30%;
    z-index: 10;
    top: 4%;
    position: absolute;
    left: 28%;
    border: solid black;
    display: flex;
    flex-direction: column;
}

.title .Capturamos {
    height: 20%;
    text-align: center;
}

.title .sentimientos {
    height: 10%;
    text-align: center;
}

.title .los {
    height: 20%;
    text-align: center;
}

.title h1 {
    font-family: "Gulfs Display";
    color: #035fff;
    font-weight: 150;
    font-size: 6em;

}

.line {
    background-color: black;
    position: absolute;
    top: 66%;
    width: 100%;
    height: 0.5%;
}

.star-img .star-1 {
    z-index: 10;
    width: 3%;
    height: 3%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    left: 26.6%;
    top: 20%;
    border: solid black;
}

.star-1 .star1 {
    object-fit: cover;
}

.star-img .star-2 {
    z-index: 10;
    width: 5%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    left: 28.6%;
    bottom: 53%;0
    border: solid black;

}

.star-2 .star2 {
    object-fit: cover;
}

.star-img .star-3 {
    z-index: 10;
    width: 3%;
    height: 3%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    right: 30.6%;
    bottom: 58%;
    border: solid black;
}

.star-3 .star3 {
    object-fit: cover;
}

.parejas {
    z-index: 1;
    position: absolute;
    left: 39.5%;
    top: 29%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: black solid;
    width: 425px;
    height: 600px;
    border-radius: 50% / 30%;
}

.parejas .par {
    width: 100%;
    object-fit: cover;
}

.parejas2 {
    position: absolute;
    left: 0.3%;
    top: 45%;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    width: 300px;
    height: 390px;
    border: black solid;
    border-radius: 10%;
}

.parejas2 #par2 {
    object-fit: cover;
    width: 100%;
}

.girl {
    position: absolute;
    right: 1.5%;
    top: 5%;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    width: 290px;
    height: 390px;
    border: black solid;
    border-radius: 10%;
}

.girl .pretty {
    object-fit: cover;
    width: 100%;
}
.second{
    height: 95.5vh;
    background-color: #fff35f;
}
.second .about{
    display: flex;
    flex-direction: ;
    justify-content: ;
}
.second .about h1{
    display: flex;
    justify-content: center;
    font-family: "Anybody", sans-serif;
    color:#6c95b7;
    font-size: 6.5em;       
}
.second .about p{
    font-family: "Anybody", sans-serif;
    font-size: 1.5em;
    color: black;
}
.second .couple_la{
    position: absolute;
    left: 10%;
    bottom: 0.6%;   
}

[class^="" ]{
    
}