@font-face {
    font-family: "Anybody";
    src: url(/Font_family/Anybody/Anybody-VariableFont_wdth\,wght.ttf);
    font-family: "Gulfs Display";
    src: url(/Font_family/GulfsDisplay-Normal.ttf);
}

