@font-face{
    font-family: "Gulfs Display";
    src: url(/Font_family/GulfsDisplay-Normal.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body html{
    height: 100%;
}
.nav{
    width: 50%;
    position: absolute;
    right: 1%;
    display: flex;
    justify-content: flex-end;
    border: solid black;
}
.nav .nav-links{
    display: flex;
    flex: 20px;
    justify-content: space-around;
    font-family: "Gulfs Display", sans-serif;
}
.nav .nav-links a{
    color: black;
}
.nav-links img{
    width: 20px;
}
section{
    border: solid black;
    height: 900px;
    background: linear-gradient(to bottom, 
    #feb4cd 70%, #fff35f 50%) ;
}
.title{
    gap: 27px;
    height: 30%;
    z-index: 10;
    top: 5%;
    position: absolute;
    left:35%;
    border: solid black;
    display: flex;
    flex-direction: column;
}
.title .Capturamos{
    height: 20%;
    text-align: center;
}
.title .sentimientos{
    height: 10%;
    text-align: center;
}
.title .los{
    height: 20%;
    text-align: center;
}
.title h1{
    font-family: "Gulfs Display";
    color: #035fff;
    font-weight: 150;
    font-size: 6em;

}
.line{
    background-color: black;
    position: absolute;
    top: 66%;
    width: 100%;
    height: 2px;
}
.star-img{
    border: solid black;
    width: 5%;
}
.star-1{
    position: absolute;

    border: solid black;
}

.parejas{
    position: absolute;
    left: 40%;
    top: 25%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: black solid;
    width: 422px;
    height: 600px;
    border-radius: 50% / 30%;
}
.parejas .par{
    width: 100%;
    object-fit: cover;
}
